<div class="the-box col-xs-8 col-xs-offset-2">
  <h2 class="app-index">Your Applications</h2><br />
  <table>
    <tr>
      <th>App Name</th>
      <th>URL</th>
      <th>Delete?</th>
    </tr>
    <div class="js-items">
      <%= render @applications %>
    </div>
  </table>
  <hr>
  <div class="new-application">
    <%= render partial: 'new' %>
  </div>
</div>