<div class="jumbotron">
  <h1 align="center">Blocmetrics</h1>
  <p align="center"><i>Analytics made easy</i></p>
  <div class="row features">
    <ul>
      <li><img src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/graph.png">&nbsp;Track user activity with visualized data</li>
      <li><img src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack-rounded/110/Analytics-128.png">&nbsp;Get to know your demographic</li>
      <li><img src="https://cdn4.iconfinder.com/data/icons/keynote-and-powerpoint-icons/256/Money-128.png">&nbsp;Make more money with less effort</li>
    </ul>
    <% if current_user %>
      <%= link_to 'Access Your Account', '#', class: 'btn btn-warning btn-lg center-block' %>
    <% else %>
      <%= link_to 'Sign Up for Free', new_user_registration_path, class: 'btn btn-success btn-lg center-block' %>
    <% end %>
  </div>
</div>

<img src="http://www.hagel.net/wp-content/uploads/2014/05/hagel-big-data-blog-stock-iamge.jpg" class="img-responsive">
